<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Create a new LanguageTool rule-vue版本</title>
  	<meta http-equiv="pragma" content="no-cache">
  	<meta http-equiv="cache-control" content="no-cache">
  	<meta http-equiv="expires" content="0">
  	<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
  	<meta http-equiv="Access-Control-Allow-Origin" content="*">
  	<meta http-equiv="description" content="This is my page">
  	<link rel="stylesheet" href="marx.css">
  	<link rel="stylesheet" href="main.css">
  	<style>
		.fade-transition {
			transition: opacity 0.5s ease-in;
			color: #58a;
			font-size: 24px;
		}
		.fade-enter, .fade-leave {
			opacity: 0;
			font-size: 48px;
			background: red;
		}
  	</style>
</head>
<body>
	<div class="main">
		<header>	
			<h1>朗鹰自然语言处理工具(GrammerCheck)</h1>
		</header>
		<!-- Set Example Sentences -->
		<div class="main-content">
			<!-- 规则说明 -->
			<div class="item-box">
				<h3>LanguageTool Rule Editor</h3>
				<div class="item-content">
					<p>LanguageTool finds errors based on rules. Each rule has a pattern that describes an error. A simple pattern can just be a sequence of words, e.g. "bed" followed by "English", which is an error as it should probably be "bad English" instead. The text that is checked by LanguageTool is searched for this pattern, and if it is found, the text at that place is considered to have an error.</p>
					<p>This page will help you to create new rules. As a result, you will have your rule in XML format, which you can send to the developers for inclusion in LanguageTool. Need help? Ask in our forum.</p>
					<p>Hide the help texts, I know what I'm doing</p>
				</div>
			</div>
			<!-- 设置例句 --> 
			<div class="item-box">
				<h3>Set Example Sentences</h3>
				<div class="item-content example-sentences">

					<div class="sentence-box">
						<p v-for="(item, index) in ruleExampleList">
							<label class="item-line">
							<span v-if="item.exampleType === 'w'">wrong sentence:</span>
							<span v-if="item.exampleType === 'c'">corrent sentence:</span>
							<input class="text-input" type="text" v-model="item.exampleSentence"  placeholder="Sorry for my bed English" @change="showAnalysis(index, $event)"></label>
							<span>
								<a class="delete" v-if="item.isDeleteBox" @click="removeItem(index)">&#10006;</a>
								<a class="add-item" v-bind:class="{'show-analysis': item.isShowAnalysis}">Show analysis</a>
							</span>
						</p>
						<div class="analysis-box"></div>
					</div>

					<p class="description-line padding-left" v-bind:class="{'show-tip': isShowRuleExample.isShowDescriptionLine}">     
						<a class="add-item add-wrong" @click="addOtherExample('w')">Add another wrong example</a>
						<a class="add-item add-corrent" @click="addOtherExample('c')">Add anohter corrent example</a>
					</p>
					<!-- end of 待添加 -->
					<button class="btn" v-bind:class="{'disabled': isShowRuleExample.isShowExampleButton}" @click="showErrorPattern">create initial error pattern</button>
				</div>
			</div>
			
			<!-- 设置错误模式 -->
			<div class="item-box error-pattern" v-bind:class="{'is-show': isShow}">
				<h3>Set the Error Pattern</h3>
				<div>
					<p>Use this to specify the error pattern, i.e. the sequence of words that - if found in a text that is checked by LanguageTool - triggers an error message. Add a token to the pattern to add a word so your pattern gets longer and thus more specific.</p>
					<p><strong>Note: </strong>LanguageTool can already detect the following error(s) in your first wrong example sentence:</p>
					<p>> This sentence does not start with an uppercase letter</p>
				    <p><strong>sorry</strong> for my <strong>bed</strong> english sorry for my bed english</p>
				    <p>> Did you mean bad?</p>
				    <p>sorry for my bed english sorry for my <strong>bed</strong> english</p>
				</div>
				<div class="item-content">
					<p><label><input id="isCaseSensitive" type="checkbox" v-model="caseSensitive">&nbsp;&nbsp;Case-sensitive word matching</label></p>
					<ul class="sort-table" id="sort-box">
						<li class="sort-list" v-for="(item, index) in ruleTokenList">
							<p><span class="drag-icon">&#8597;&nbsp;Token #{{index + 1}}</span><a class="delete" @click="removeTokenItem(index)">&#10006;</a></p>
							<p @click="changeWordBox($event, item)">
								<label><input type="radio" v-bind:name="'token-' + index"  value="W" checked>Word</label>
								<label><input type="radio" v-bind:name="'token-' + index" value="PP">Part-of-speech</label>
								<label><input type="radio" v-bind:name="'token-' + index" value="WP">Word + Part-of-speech</label>
								<label><input type="radio" v-bind:name="'token-' + index" value="All">Any word</label>
							</p>

							<template v-if="item.wordBoxType === '0'">
							<div class="word-box">
								<p>
									<label class="item-line">Word:&nbsp;&nbsp;<input type="text" placeholder="word"></label>
									<label><input type="checkbox" value="wordRegExp">RgeExp</label>
									<label><input type="checkbox" value="wordBaseForm">Base form</label>
									<label><input type="checkbox" value="wordNegate">Negate</label>
							    </p>
						    </div>
							</template>
							<template v-else-if="item.wordBoxType === '1'">
							<div class="word-box">
								<p>
									<label class="item-line">Part-of-speech:&nbsp;&nbsp;<input type="text" placeholder="part-of-speech tag"></label>
									<label><input type="checkbox" value="posRegExp">RegExp</label>
									<label><input type="checkbox" value="posNegate">Negate</label>
							    </p>
						    </div>
							</template>
							<template v-else-if="item.wordBoxType === '2'">
							<div class="word-box">
								<p>
									<label class="item-line">Word:&nbsp;&nbsp;<input class="margin-left" type="text" placeholder="word"></label>
									<label><input type="checkbox" value="wordRegExp">RgeExp</label>
									<label><input type="checkbox" value="wordBaseForm">Base form</label>
									<label><input type="checkbox" value="wordNegate">Negate</label>
							    </p>
							    <p>
									<label class="item-line">Part-of-speech:&nbsp;&nbsp;<input type="text" placeholder="part-of-speech tag"></label>
									<label><input type="checkbox" value="posRegExp">RegExp</label>
									<label><input type="checkbox" value="posNegate">Negate</label>
							    </p>
							</div>
							</template>
							<template v-else="item.wordBoxType ==== '3'">
							<div class="word-box"></div>
							</template>
							<!-- 子选择项目 -->
							<ul class="sort-table">
								<li class="sort-list" v-for="(i, j) in item.exceptList">
									<p><a class="delete" @click="removeSubTokenItem(index, j)">&#10006;</a></p>
									<p @click="changeWordBox($event, i)">except:&nbsp;&nbsp;
										<label><input type="radio" value="W" v-bind:name="'subToken-' + j" checked>Word</label>
										<label><input type="radio" value="PP" v-bind:name="'subToken-' + j">Part-of-speech</label>
										<label><input type="radio" value="WP" v-bind:name="'subToken-' + j">Word + Part-of-speech</label>
									</p>
									<template v-if="i.wordBoxType === '0'">
									<div class="word-box">
										<p>
											<label class="item-line">Word:&nbsp;&nbsp;<input type="text" placeholder="word"></label>
											<label><input type="checkbox" value="wordRegExp">RgeExp</label>
											<label><input type="checkbox" value="wordBaseForm">Base form</label>
											<label><input type="checkbox" value="wordNegate">Negate</label>
									    </p>
								    </div>
									</template>
									<template v-else-if="i.wordBoxType === '1'">
									<div class="word-box">
										<p>
											<label class="item-line">Part-of-speech:&nbsp;&nbsp;<input type="text" placeholder="part-of-speech tag"></label>
											<label><input type="checkbox" value="posRegExp">RegExp</label>
											<label><input type="checkbox" value="posNegate">Negate</label>
									    </p>
								    </div>
									</template>
									<template v-else="i.wordBoxType === '2'">
									<div class="word-box">
										<p>
											<label class="item-line">Word:&nbsp;&nbsp;<input class="margin-left" type="text" placeholder="word"></label>
											<label><input type="checkbox" value="wordRegExp">RgeExp</label>
											<label><input type="checkbox" value="wordBaseForm">Base form</label>
											<label><input type="checkbox" value="wordNegate">Negate</label>
									    </p>
									    <p>
											<label class="item-line">Part-of-speech:&nbsp;&nbsp;<input type="text" placeholder="part-of-speech tag"></label>
											<label><input type="checkbox" value="posRegExp">RegExp</label>
											<label><input type="checkbox" value="posNegate">Negate</label>
									    </p>
									</div>
									</template>

									<template v-if="i.isAddAdvancedBox">
									<!-- advanced 弹出框 -->
									<div class="advanced-box">
										<div class="mask-box"></div>
										<div class="advanced-container">
											<h3>Advanced Attributes<span class="close-box" @click.self="closeAdvancedBox(i)">&#10006;</span></h3>
											<ul class="sort-table">
												<li class="sort-list" v-for="(subSelectItem, selectNum) in i.advancedArr">
													<select v-model="subSelectItem.selected">
														<option value="min">min</option>
														<option value="max">max</option>
														<option value="skip">skip</option>
														<option value="chunk">chunk</option>
														<option value="spacebefore">spacebefore</option>
													</select>
													<span>&nbsp;=&nbsp;</span>
													<input type="text" required v-model="subSelectItem.inputText">
													<a class="delete" @click="removeOptionItem(i, selectNum)">&#10006;</a>
												</li>
											</ul>
											<p><a class="add-attribute" @click="addOptionItem(i)">Add another Attribute</a></p>
											<button class="advanced-confirm" @click="advancedConfirm(i)">ok</button>
										</div> <!--  end of div.advanced-container -->
									</div> 
									</template>
									<p><a class="add-item show-box" @click.self="showAdvancedBox(i)"> Edit Advanced Attributes (<span>{{i.advancedArr.length}}</span>)</a></p>
								</li>
							</ul>
							<template v-if="item.isAddAdvancedBox">
							<!-- advanced 弹出框 -->
							<div class="advanced-box">
								<div class="mask-box"></div>
								<div class="advanced-container">
									<h3>Advanced Attributes<span class="close-box" @click.self="closeAdvancedBox(item)">&#10006;</span></h3>
									<ul class="sort-table">
										<li v-for="(subSelectItem, selectNum) in item.advancedArr" class="sort-list">
											<select v-model="subSelectItem.selected">
												<option value="min">min</option>
												<option value="max">max</option>
												<option value="skip">skip</option>
												<option value="chunk">chunk</option>
												<option value="spacebefore">spacebefore</option>
											</select>
											<span>&nbsp;=&nbsp;</span>
											<input type="text" required v-model="subSelectItem.inputText">
											<a class="delete" @click="removeOptionItem(item, selectNum)">&#10006;</a>
										</li>
									</ul>
									<p><a class="add-attribute" @click="addOptionItem(item)">Add another Attribute</a></p>
									<button class="advanced-confirm" @click="advancedConfirm(item)">ok</button>
								</div> <!-- end of div.advanced-container -->
							</div> 
							</template>
							<p>
								<a class="add-item add-exception" @click="addSubToken(index)">Add exception</a>
								<a class="add-item show-box" @click.self.stop.prevent="showAdvancedBox(item)"> Edit Advanced Attributes (<span>{{item.advancedArr.length}}</span>)</a>
							</p>
						</li>
					</ul>
					<p>
						<a class="add-item add-token-pattern" @click="addTokenPattern">Add token to pattern</a>
						<a class="add-item add-error-pattern" @click="addErrorPattern">Add error marker to pattern</a>
					</p>
				</div>
			</div>

			<!-- 设置规则详情 -->
			<div class="item-box" v-bind:class="{'is-show': isShow}">
				<h3>Set the Rule Details</h3>
				<div class="item-content">
					<p>
						<label class="item-line"><span>Rule Name:</span><input class="rule-name" type="text" placeholder="Short rule description used for configuration" v-model="ruleName"></label>
					</p>
					<p>
						<label class="item-line"><span>Message:</span><textarea class="message" name="" id="" rows="2" placeholder="Error message shown to the user if error pattern matches">{{ message }}</textarea></label>
					</p>
					<p>
						<label class="item-line"><span>ruleType</span>
							<select class="big-class">
								<option value="min">min</option>
								<option value="max">max</option>
							</select>
							<select class="small-class">
								<option value="min">min</option>
								<option value="max">max</option>
							</select>
						</label>
					</p>
					<p class="padding-left">Use \1, \2 to refer to the first, second token etc. of the matched text.Use 'single quotes' to mark words that will be shown as suggestions to the user.
					</p>
					<p>
						<label class="item-line"><span>Short message:</span><input class="short-message" type="text" placeholder="A short error message shown in e.g. context menus" v-model="shortMessage"></label>
					</p>
					<p>
						<label class="item-line"><span>URL:</span><input class="url" type="text" placeholder="URL with more information about the error" v-model="url"></label>
					</p>
					<button class="btn confirm-btn">Evaluate error pattern</button>
				</div>
			</div>
			<div class="item-box resulte-xml"><textarea></textarea></div>
		</div> <!-- end of div.main-content -->
	</div> <!-- end of div.main -->
	<script src="http://apps.bdimg.com/libs/jquery/1.6.4/jquery.min.js"></script>
	<script src="Sortable.min.js"></script>
	<script src="doT.min.js"></script>
	<script src="vue2.0.js"></script>
	<script src="main-vue.js"></script>
	<script>
		var sortBox = document.querySelector('#sort-box');

		// // 拖拽事件 调用Sorttable.js框件
		// new Sortable.create(sortBox, {
		//   animation: 150,
		//   handle: ".sort-list"
		// });

	</script>

	<script id="tmp-1" type="text/template">
		<div class="sentenceAnalysis">
			<p>
				Use this analysis to see what part-of-speech tags get assigned to the words of your sentence.<br>
				You might want to use these part-of-speech tags in your error pattern in the next step.
			</p>
			<div id="wrongSentenceEvaluation">
		        {{~it :v:i }}
			    <table>
				    <tbody>
						{{~v :itemList:j }}
	            		<tr>
							{{~itemList :dataList:k}}
							<td>{{= dataList}}</td>
							{{~}}
	            		</tr>
						{{~}}
				    </tbody>
			    </table>
		        {{~}}
			</div>
		</div>
	</script>
</body>
</html>